body{

	background-color: #23CD20;
}
#botao{
	background: #009900;
	margin-top: 5px;
	margin-left: 75px;
	font-size: 14px;
	box-shadow: #004d00;
}
#botao:hover {
	background: #004d00;
	color: Black;
	box-shadow: 0 5px 0 #001a00;
}
#botao:active{
	position: relative;
	top: 5px;
	box-shadow: none;
}